html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.card1 {
    font-family: 'Barlow', sans-serif;
}

.card1 img {
    width: 33rem;
    margin-top: 3rem;
    margin-left: 10px;
}

.nav-top img {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 2rem;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

.menu {
    cursor: pointer;
    margin-left: 20rem;
    position: relative;
    top: -1.7rem;
    left: 1px;
}

.background {
    background: hsl(0, 0%, 92%);
    z-index: -1;
    align-self: start;
    position: absolute;
    width: 52vw;
    height: 60vh;
    max-width: 500px;
    left: 191px;
    top: 0;
    border-bottom-left-radius: 70px;
}

.card2 p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;;
    width: 33rem;
    margin-left: 10px;
}

.card2 {
    margin-top: 140px;
}

.card2 span {
    background-color: hsl(230, 29%, 20%);
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
}

.card2 h1 {
  font-family: 'Barlow';
  font-size: 2.4rem;
  font-weight: 800;
  margin-left: 10px;
}

.card2 p:nth-of-type(2) {
  font-family: 'Barlow';
  letter-spacing: 1px;
  text-transform: none;
  font-size: 1.3rem;
  width: 23rem;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 10px;
}

.card2 a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Barlow';
  border-radius: 10px;
  padding: 1rem;
  margin-left: 10px;
  transition: 0.3s;
}

.card2 a:hover, a:active {
  background-color: gray;
}

.card2 p:nth-of-type(4) {
  position: relative;
  left: 220px;
  top: -50px;
  font-size: 15px;
  font-weight: 400
}

@media only screen and (min-width: 992px) {
  .card1 img {
    width: 69rem;
    margin-left: 50rem;
    margin-top: 8rem;
    position: relative;
    top: -45px;
  }
  .card2 {
    margin-top: -37rem;
    width: 35rem;
    margin-left: 150px;
  }
  .background {
    left: 49rem;
    height: 53vh;
    width: 80vw;
    max-width: 1000px;
  }
  .card2 h1 {
    font-size: 3.5rem;
  }
  .card2 a {
    margin-top: 55px;
  }
  .menu img {
    width: 40px;
    margin-left: 70rem;    
  }
  .nav-top img {
    margin-left: 10rem;
    width: 2.5rem;
    margin-top: 50px;
  }
}

  